{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
	<section class="container big-padding order" data-scroll-section>
		<h1>Votre commande a bien été enregistrée!</h1>
		<div class="order__link-wrapper">
			<a href="{{ path('home') }}" class="btn-primary">Accueil</a>
			<a href="{{ path('user_profile') }}" class="btn-primary">Commandes</a>
		</div>
	</section>
{% endblock %}
