{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="container big-padding login" data-scroll-section style="height: 300vh">
		<h1>Se connecter</h1>
		<form method="post">
			{% if error %}
				<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
			</div>
			<div>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
			</div>
			<input type="hidden" name="_target_path" value="{{ path('cart') }}" />
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="btn-primary" type="submit">Connexion</button>
		</form>
	</section>
{% endblock %}