{% extends 'base.html.twig' %}

{% block body %}
<div>
    <ul class="products">
        {% for product in products %}
            <li class="product">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <span>{{ product.price }}€</span>
                <img src="{{ asset('build/images/' ~ product.imagePath) }}" alt="">
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
