.svg-box {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    border: 2px solid #111;
    border-radius: 2px;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: all .16s cubic-bezier(0.4, 0, 0, 1);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0);
    }
  }
}