.profile {
  .commands {
    margin-top: 20px;
    border: 1px solid #111;

    &__list {
      &__item {
        padding: 1.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;

        &:not(:last-child) {
          border-bottom: 1px solid #111;
        }

        &__right {
          flex: 1;
          display: flex;
          justify-content: space-between;
          max-width: 220px;
          column-gap: 20px;
          flex-wrap: wrap;

          span {
            white-space: nowrap;
          }

          span:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}